.my-btn {
  background-color: var(--btn-bg-color) !important;
  color: var(--btn-text-color) !important;
  width: var(--btn-with) !important;
  height: var(--btn-height) !important;
  padding: var(--btn-padding) !important;
  border: none;
  border-radius: var(--btn-radius) !important;
}

.my-btn:hover {
  opacity: 0.9;
}
@media (max-width: 600px) {
  .my-btn {
    width: 100% !important;
    background-color: aqua !important;
    font-size: var(--btn-font-size-sm) !important;
  }
}
